{% extends 'food/base.html' %}

{% block body %}

<div class="container">
    <div class="row m-5 flex align-items-center">
        <div class="col-md-6">
            <img height="300px" width="420" src="{{item.image}}" class="card" />
        </div>

        <div class="col-md-6 f">
            <h1>{{item.name}}</h1>
            <h2>{{item.desc}}</h2>
            <h3>{{item.price}}</h3>
            <a href="{% url 'food:delete_item' item.id %}" class="btn btn-danger bg-dark">Delete</a>
        </div>
    </div>
</div>
{% endblock %}